R_package/branches - .Rproj.user
.Rhistory
.RData
.DS_Store
R_package/trunk/R - BART_SA_optim.R
Research_papers - understanding.factorization.aux
understanding.factorization.bbl
understanding.factorization.blg
understanding.factorization.log
understanding.factorization.notation.changes.pdf
understanding.factorization.pdf
Research_papers/BART/BART_sims - *.RData
.RData
.Rhistory
.Rproj.user
BART_NL3_phi-2_beta4.RData
BART_NL3_phi-2_beta5.5.RData
BART_NL3_phi-2_beta5.RData
BART_NL3_phi-2_beta6.RData
BART_NL3_phi2_beta4.RData
BART_NL3_phi2_beta5.5.RData
BART_NL3_phi2_beta5.RData
BART_NL3_phi2_beta6.RData
BART_NL_phi-0.25_beta0.5.RData
BART_NL_phi-0.25_beta1.5.RData
BART_NL_phi-0.25_beta1.RData
BART_NL_phi-0.25_beta2.5.RData
BART_NL_phi-0.25_beta2.RData
BART_NL_phi-0.25_beta3.5.RData
BART_NL_phi-0.25_beta3.RData
BART_NL_phi-0.25_beta4.5.RData
BART_NL_phi-0.25_beta4.RData
BART_NL_phi-0.25_beta5.RData
BART_NL_phi-0.5_beta0.5.RData
BART_NL_phi-0.5_beta1.5.RData
BART_NL_phi-0.5_beta1.RData
BART_NL_phi-0.5_beta2.5.RData
BART_NL_phi-0.5_beta2.RData
BART_NL_phi-0.5_beta3.5.RData
BART_NL_phi-0.5_beta3.RData
BART_NL_phi-0.5_beta4.5.RData
BART_NL_phi-0.5_beta4.RData
BART_NL_phi-0.5_beta5.RData
BART_NL_phi-0.75_beta0.5.RData
BART_NL_phi-0.75_beta1.5.RData
BART_NL_phi-0.75_beta1.RData
BART_NL_phi-0.75_beta2.5.RData
BART_NL_phi-0.75_beta2.RData
BART_NL_phi-0.75_beta3.5.RData
BART_NL_phi-0.75_beta3.RData
BART_NL_phi-0.75_beta4.5.RData
BART_NL_phi-0.75_beta4.RData
BART_NL_phi-0.75_beta5.RData
BART_NL_phi-1.25_beta0.5.RData
BART_NL_phi-1.25_beta1.5.RData
BART_NL_phi-1.25_beta1.RData
BART_NL_phi-1.25_beta2.5.RData
BART_NL_phi-1.25_beta2.RData
BART_NL_phi-1.25_beta3.5.RData
BART_NL_phi-1.25_beta3.RData
BART_NL_phi-1.25_beta4.5.RData
BART_NL_phi-1.25_beta4.RData
BART_NL_phi-1.25_beta5.RData
BART_NL_phi-1.5_beta0.5.RData
BART_NL_phi-1.5_beta1.5.RData
BART_NL_phi-1.5_beta1.RData
BART_NL_phi-1.5_beta2.5.RData
BART_NL_phi-1.5_beta2.RData
BART_NL_phi-1.5_beta3.5.RData
BART_NL_phi-1.5_beta3.RData
BART_NL_phi-1.5_beta4.5.RData
BART_NL_phi-1.5_beta4.RData
BART_NL_phi-1.5_beta5.RData
BART_NL_phi-1.75_beta0.5.RData
BART_NL_phi-1.75_beta1.5.RData
BART_NL_phi-1.75_beta1.RData
BART_NL_phi-1.75_beta2.5.RData
BART_NL_phi-1.75_beta2.RData
BART_NL_phi-1.75_beta3.5.RData
BART_NL_phi-1.75_beta3.RData
BART_NL_phi-1.75_beta4.5.RData
BART_NL_phi-1.75_beta4.RData
BART_NL_phi-1.75_beta5.RData
BART_NL_phi-1_beta0.5.RData
BART_NL_phi-1_beta1.5.RData
BART_NL_phi-1_beta1.RData
BART_NL_phi-1_beta2.5.RData
BART_NL_phi-1_beta2.RData
BART_NL_phi-1_beta3.5.RData
BART_NL_phi-1_beta3.RData
BART_NL_phi-1_beta4.5.RData
BART_NL_phi-1_beta4.RData
BART_NL_phi-1_beta5.RData
BART_NL_phi-2.25_beta0.5.RData
BART_NL_phi-2.25_beta1.5.RData
BART_NL_phi-2.25_beta1.RData
BART_NL_phi-2.25_beta2.5.RData
BART_NL_phi-2.25_beta2.RData
BART_NL_phi-2.25_beta3.5.RData
BART_NL_phi-2.25_beta3.RData
BART_NL_phi-2.25_beta4.5.RData
BART_NL_phi-2.25_beta4.RData
BART_NL_phi-2.25_beta5.RData
BART_NL_phi-2.5_beta0.5.RData
BART_NL_phi-2.5_beta1.5.RData
BART_NL_phi-2.5_beta1.RData
BART_NL_phi-2.5_beta2.5.RData
BART_NL_phi-2.5_beta2.RData
BART_NL_phi-2.5_beta3.5.RData
BART_NL_phi-2.5_beta3.RData
BART_NL_phi-2.5_beta4.5.RData
BART_NL_phi-2.5_beta4.RData
BART_NL_phi-2.5_beta5.RData
BART_NL_phi-2_beta0.5.RData
BART_NL_phi-2_beta1.5.RData
BART_NL_phi-2_beta1.RData
BART_NL_phi-2_beta2.5.RData
BART_NL_phi-2_beta2.RData
BART_NL_phi-2_beta3.5.RData
BART_NL_phi-2_beta3.RData
BART_NL_phi-2_beta4.5.RData
BART_NL_phi-2_beta4.RData
BART_NL_phi-2_beta5.RData
BART_NL_phi0.25_beta0.5.RData
BART_NL_phi0.25_beta1.5.RData
BART_NL_phi0.25_beta1.RData
BART_NL_phi0.25_beta2.5.RData
BART_NL_phi0.25_beta2.RData
BART_NL_phi0.25_beta3.5.RData
BART_NL_phi0.25_beta3.RData
BART_NL_phi0.25_beta4.5.RData
BART_NL_phi0.25_beta4.RData
BART_NL_phi0.25_beta5.RData
BART_NL_phi0.5_beta0.5.RData
BART_NL_phi0.5_beta1.5.RData
BART_NL_phi0.5_beta1.RData
BART_NL_phi0.5_beta2.5.RData
BART_NL_phi0.5_beta2.RData
BART_NL_phi0.5_beta3.5.RData
BART_NL_phi0.5_beta3.RData
BART_NL_phi0.5_beta4.5.RData
BART_NL_phi0.5_beta4.RData
BART_NL_phi0.5_beta5.RData
BART_NL_phi0.75_beta0.5.RData
BART_NL_phi0.75_beta1.5.RData
BART_NL_phi0.75_beta1.RData
BART_NL_phi0.75_beta2.5.RData
BART_NL_phi0.75_beta2.RData
BART_NL_phi0.75_beta3.5.RData
BART_NL_phi0.75_beta3.RData
BART_NL_phi0.75_beta4.5.RData
BART_NL_phi0.75_beta4.RData
BART_NL_phi0.75_beta5.RData
BART_NL_phi0_beta0.5.RData
BART_NL_phi0_beta1.5.RData
BART_NL_phi0_beta1.RData
BART_NL_phi0_beta2.5.RData
BART_NL_phi0_beta2.RData
BART_NL_phi0_beta3.5.RData
BART_NL_phi0_beta3.RData
BART_NL_phi0_beta4.5.RData
BART_NL_phi0_beta4.RData
BART_NL_phi0_beta5.RData
BART_NL_phi1.25_beta0.5.RData
BART_NL_phi1.25_beta1.5.RData
BART_NL_phi1.25_beta1.RData
BART_NL_phi1.25_beta2.5.RData
BART_NL_phi1.25_beta2.RData
BART_NL_phi1.25_beta3.5.RData
BART_NL_phi1.25_beta3.RData
BART_NL_phi1.25_beta4.5.RData
BART_NL_phi1.25_beta4.RData
BART_NL_phi1.25_beta5.RData
BART_NL_phi1.5_beta0.5.RData
BART_NL_phi1.5_beta1.5.RData
BART_NL_phi1.5_beta1.RData
BART_NL_phi1.5_beta2.5.RData
BART_NL_phi1.5_beta2.RData
BART_NL_phi1.5_beta3.5.RData
BART_NL_phi1.5_beta3.RData
BART_NL_phi1.5_beta4.5.RData
BART_NL_phi1.5_beta4.RData
BART_NL_phi1.5_beta5.RData
BART_NL_phi1.75_beta0.5.RData
BART_NL_phi1.75_beta1.5.RData
BART_NL_phi1.75_beta1.RData
BART_NL_phi1.75_beta2.5.RData
BART_NL_phi1.75_beta2.RData
BART_NL_phi1.75_beta3.5.RData
BART_NL_phi1.75_beta3.RData
BART_NL_phi1.75_beta4.5.RData
BART_NL_phi1.75_beta4.RData
BART_NL_phi1.75_beta5.RData
BART_NL_phi1_beta0.5.RData
BART_NL_phi1_beta1.5.RData
BART_NL_phi1_beta1.RData
BART_NL_phi1_beta2.5.RData
BART_NL_phi1_beta2.RData
BART_NL_phi1_beta3.5.RData
BART_NL_phi1_beta3.RData
BART_NL_phi1_beta4.5.RData
BART_NL_phi1_beta4.RData
BART_NL_phi1_beta5.RData
BART_NL_phi2.25_beta0.5.RData
BART_NL_phi2.25_beta1.5.RData
BART_NL_phi2.25_beta1.RData
BART_NL_phi2.25_beta2.5.RData
BART_NL_phi2.25_beta2.RData
BART_NL_phi2.25_beta3.5.RData
BART_NL_phi2.25_beta3.RData
BART_NL_phi2.25_beta4.5.RData
BART_NL_phi2.25_beta4.RData
BART_NL_phi2.25_beta5.RData
BART_NL_phi2.5_beta0.5.RData
BART_NL_phi2.5_beta1.5.RData
BART_NL_phi2.5_beta1.RData
BART_NL_phi2.5_beta2.5.RData
BART_NL_phi2.5_beta2.RData
BART_NL_phi2.5_beta3.5.RData
BART_NL_phi2.5_beta3.RData
BART_NL_phi2.5_beta4.5.RData
BART_NL_phi2.5_beta4.RData
BART_NL_phi2.5_beta5.RData
BART_NL_phi2_beta0.5.RData
BART_NL_phi2_beta1.5.RData
BART_NL_phi2_beta1.RData
BART_NL_phi2_beta2.5.RData
BART_NL_phi2_beta2.RData
BART_NL_phi2_beta3.5.RData
BART_NL_phi2_beta3.RData
BART_NL_phi2_beta4.5.RData
BART_NL_phi2_beta4.RData
BART_NL_phi2_beta5.RData
BART_phi-0.25_beta0.5.RData
BART_phi-0.25_beta1.5.RData
BART_phi-0.25_beta1.RData
BART_phi-0.25_beta2.5.RData
BART_phi-0.25_beta2.RData
BART_phi-0.25_beta3.5.RData
BART_phi-0.25_beta3.RData
BART_phi-0.25_beta4.5.RData
BART_phi-0.25_beta4.RData
BART_phi-0.5_beta0.5.RData
BART_phi-0.5_beta1.5.RData
BART_phi-0.5_beta1.RData
BART_phi-0.5_beta2.5.RData
BART_phi-0.5_beta2.RData
BART_phi-0.5_beta3.5.RData
BART_phi-0.5_beta3.RData
BART_phi-0.5_beta4.5.RData
BART_phi-0.5_beta4.RData
BART_phi-0.75_beta0.5.RData
BART_phi-0.75_beta1.5.RData
BART_phi-0.75_beta1.RData
BART_phi-0.75_beta2.5.RData
BART_phi-0.75_beta2.RData
BART_phi-0.75_beta3.5.RData
BART_phi-0.75_beta3.RData
BART_phi-0.75_beta4.5.RData
BART_phi-0.75_beta4.RData
BART_phi-1.25_beta0.5.RData
BART_phi-1.25_beta1.5.RData
BART_phi-1.25_beta1.RData
BART_phi-1.25_beta2.5.RData
BART_phi-1.25_beta2.RData
BART_phi-1.25_beta3.5.RData
BART_phi-1.25_beta3.RData
BART_phi-1.25_beta4.5.RData
BART_phi-1.25_beta4.RData
BART_phi-1.5_beta0.5.RData
BART_phi-1.5_beta1.5.RData
BART_phi-1.5_beta1.RData
BART_phi-1.5_beta2.5.RData
BART_phi-1.5_beta2.RData
BART_phi-1.5_beta3.5.RData
BART_phi-1.5_beta3.RData
BART_phi-1.5_beta4.5.RData
BART_phi-1.5_beta4.RData
BART_phi-1.75_beta0.5.RData
BART_phi-1.75_beta1.5.RData
BART_phi-1.75_beta1.RData
BART_phi-1.75_beta2.5.RData
BART_phi-1.75_beta2.RData
BART_phi-1.75_beta3.5.RData
BART_phi-1.75_beta3.RData
BART_phi-1.75_beta4.5.RData
BART_phi-1.75_beta4.RData
BART_phi-1_beta0.5.RData
BART_phi-1_beta1.5.RData
BART_phi-1_beta1.RData
BART_phi-1_beta2.5.RData
BART_phi-1_beta2.RData
BART_phi-1_beta3.5.RData
BART_phi-1_beta3.RData
BART_phi-1_beta4.5.RData
BART_phi-1_beta4.RData
BART_phi-2.25_beta0.5.RData
BART_phi-2.25_beta1.5.RData
BART_phi-2.25_beta1.RData
BART_phi-2.25_beta2.5.RData
BART_phi-2.25_beta2.RData
BART_phi-2.25_beta3.5.RData
BART_phi-2.25_beta3.RData
BART_phi-2.25_beta4.5.RData
BART_phi-2.25_beta4.RData
BART_phi-2.5_beta0.5.RData
BART_phi-2.5_beta1.5.RData
BART_phi-2.5_beta1.RData
BART_phi-2.5_beta2.5.RData
BART_phi-2.5_beta2.RData
BART_phi-2.5_beta3.5.RData
BART_phi-2.5_beta3.RData
BART_phi-2.5_beta4.5.RData
BART_phi-2.5_beta4.RData
BART_phi-2_beta0.5.RData
BART_phi-2_beta1.5.RData
BART_phi-2_beta1.RData
BART_phi-2_beta2.5.RData
BART_phi-2_beta2.RData
BART_phi-2_beta3.5.RData
BART_phi-2_beta3.RData
BART_phi-2_beta4.5.RData
BART_phi-2_beta4.RData
BART_phi0.25_beta0.5.RData
BART_phi0.25_beta1.5.RData
BART_phi0.25_beta1.RData
BART_phi0.25_beta2.5.RData
BART_phi0.25_beta2.RData
BART_phi0.25_beta3.5.RData
BART_phi0.25_beta3.RData
BART_phi0.25_beta4.5.RData
BART_phi0.25_beta4.RData
BART_phi0.5_beta0.5.RData
BART_phi0.5_beta1.5.RData
BART_phi0.5_beta1.RData
BART_phi0.5_beta2.5.RData
BART_phi0.5_beta2.RData
BART_phi0.5_beta3.5.RData
BART_phi0.5_beta3.RData
BART_phi0.5_beta4.5.RData
BART_phi0.5_beta4.RData
BART_phi0.75_beta0.5.RData
BART_phi0.75_beta1.5.RData
BART_phi0.75_beta1.RData
BART_phi0.75_beta2.5.RData
BART_phi0.75_beta2.RData
BART_phi0.75_beta3.5.RData
BART_phi0.75_beta3.RData
BART_phi0.75_beta4.5.RData
BART_phi0.75_beta4.RData
BART_phi0_beta0.5.RData
BART_phi0_beta1.5.RData
BART_phi0_beta1.RData
BART_phi0_beta2.5.RData
BART_phi0_beta2.RData
BART_phi0_beta3.5.RData
BART_phi0_beta3.RData
BART_phi0_beta4.5.RData
BART_phi0_beta4.RData
BART_phi1.25_beta0.5.RData
BART_phi1.25_beta1.5.RData
BART_phi1.25_beta1.RData
BART_phi1.25_beta2.5.RData
BART_phi1.25_beta2.RData
BART_phi1.25_beta3.5.RData
BART_phi1.25_beta3.RData
BART_phi1.25_beta4.5.RData
BART_phi1.25_beta4.RData
BART_phi1.5_beta0.5.RData
BART_phi1.5_beta1.5.RData
BART_phi1.5_beta1.RData
BART_phi1.5_beta2.5.RData
BART_phi1.5_beta2.RData
BART_phi1.5_beta3.5.RData
BART_phi1.5_beta3.RData
BART_phi1.5_beta4.5.RData
BART_phi1.5_beta4.RData
BART_phi1.75_beta0.5.RData
BART_phi1.75_beta1.5.RData
BART_phi1.75_beta1.RData
BART_phi1.75_beta2.5.RData
BART_phi1.75_beta2.RData
BART_phi1.75_beta3.5.RData
BART_phi1.75_beta3.RData
BART_phi1.75_beta4.5.RData
BART_phi1.75_beta4.RData
BART_phi1_beta0.5.RData
BART_phi1_beta1.5.RData
BART_phi1_beta1.RData
BART_phi1_beta2.5.RData
BART_phi1_beta2.RData
BART_phi1_beta3.5.RData
BART_phi1_beta3.RData
BART_phi1_beta4.5.RData
BART_phi1_beta4.RData
BART_phi2.25_beta0.5.RData
BART_phi2.25_beta1.5.RData
BART_phi2.25_beta1.RData
BART_phi2.25_beta2.5.RData
BART_phi2.25_beta2.RData
BART_phi2.25_beta3.5.RData
BART_phi2.25_beta3.RData
BART_phi2.25_beta4.5.RData
BART_phi2.25_beta4.RData
BART_phi2.5_beta0.5.RData
BART_phi2.5_beta1.5.RData
BART_phi2.5_beta1.RData
BART_phi2.5_beta2.5.RData
BART_phi2.5_beta2.RData
BART_phi2.5_beta3.5.RData
BART_phi2.5_beta3.RData
BART_phi2.5_beta4.5.RData
BART_phi2.5_beta4.RData
BART_phi2_beta0.5.RData
BART_phi2_beta1.5.RData
BART_phi2_beta1.RData
BART_phi2_beta2.5.RData
BART_phi2_beta2.RData
BART_phi2_beta3.5.RData
BART_phi2_beta3.RData
BART_phi2_beta4.5.RData
BART_phi2_beta4.RData
old sim results

Research_papers/Multilevel - *.aux
*.bbl
*.blg
*.log
MLM.simulated.confounders.pdf
enumeration.of.cases.aux
enumeration.of.cases.log
enumeration.of.cases.pdf
enumeration.of.cases.synctex.gz
multilevel.sensitivity.aux
multilevel.sensitivity.log
multilevel.sensitivity.pdf
multilevel.sensitivity.synctex.gz

Research_papers/Multilevel/paper/multilevel_sensitivity - multilevel_sensitivity.aux
multilevel_sensitivity.bbl
multilevel_sensitivity.blg
multilevel_sensitivity.log
multilevel_sensitivity.pdf

Research_papers/Ungrouped_case/sensitivity_to_confounding - *.aux
*.bbl
*.blg
*.log
*.tcp
*.tps
sensitivity_to_confounding.pdf
sensitivity_to_confounding.v2.aux
sensitivity_to_confounding.v2.dvi
sensitivity_to_confounding.v2.log
sensitivity_to_confounding.v2.pdf
sensitivity_to_confounding.v2.ps

Research_papers/Ungrouped_case/simulations June 2013/OLS.sens sims - .RData
.Rhistory
.Rproj.user
*.o
*.so
*.a
*.dll
a.out.dSYM
src/Makevars
config.log
config.status
autom4te.cache
src/config.hpp
src/bart/config.hpp
src/external/config.h
*.swp
