useDynLib(treatSens, .registration = TRUE)

export(treatSens, sensPlot)
export(treatSens.BART)

S3method(summary, sensitivity)
S3method(plot, sensitivity)
S3method(summary, sensitivityCombo)
S3method(plot, sensitivity)
S3method(plot, sensitivityCombo)
S3method(print, sensitivity)


importFrom(methods, is, new, getPackageName)
importFrom(rstan, stanc_builder, sampling, extract)
importFrom(Rcpp, loadModule)

importFrom(stats, cor, var, vcov, sd, quantile)
importFrom(stats, dnorm, rnorm, pnorm, rbinom, qnorm)
importFrom(stats, lm, glm, binomial, gaussian)
importFrom(stats, model.frame, model.extract, model.response , is.empty.model, model.matrix)
importFrom(stats, contrasts)
importFrom(stats, na.omit, setNames)
 importFrom("stats", "coef", "fitted.values", "glm.control",
             "residuals")

importFrom(graphics, par, plot, points, text, abline, legend, contour, box)
importFrom(grDevices, contourLines)

if (getRversion() >= "3.3.0") {
  importFrom(stats, sigma)
} else {
  importFrom(lme4, sigma)
}

importFrom(dbarts, bart, pdbart, dbarts, dbartsControl)

importFrom(mvtnorm, dmvnorm, pmvnorm, rmvnorm)
