useDynLib(treatSens)

export(treatSens, sensPlot)
export(treatSens.BART)

S3method(summary, sensitivity)
S3method(plot, sensitivity)
S3method(summary, sensitivityCombo)
S3method(plot, sensitivity)
S3method(plot, sensitivityCombo)
S3method(print, sensitivity)


importFrom(methods, new)

importFrom(stats, cor, var, vcov, sd, dnorm, rnorm, pnorm, rbinom, qnorm)
importFrom(stats, lm, glm, binomial)
importFrom(stats, model.frame, model.extract, is.empty.model, model.matrix)
importFrom(stats, setNames)

importFrom(graphics, par, plot, points, text, abline, legend, contour, box)
importFrom(grDevices, contourLines)

importFrom(dbarts, bart, pdbart, dbarts, dbartsControl)
